.root {
    -fx-background-color: #87cefa;
}

.label {
    -fx-font-size: 12;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.button {
    -fx-background-color: linear-gradient(#008B8B, #FFFFFF);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 2, 0.0 , 0 , 1 );
}

.button: {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}